/* Estilo para el cuerpo de la página */
body {
    background: url('http://localhost/sistur/fondo/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "poppins", sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para el contenedor del título y el logo */
.logo-con-titulo {
    color: #fff;
    text-align: center;
    padding: 20px;
}
/* Estilo para el logotipo personalizado */
.logo {
    width: 150px; /* Ancho del logo */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    margin: 5px; /* Margen uniforme alrededor del logo */
    transition: transform 0.3s ease; /* Transición de transformación para efectos suaves */
}

/* Efecto de escala al pasar el ratón */
.logo:hover {
    transform: scale(1.1);
}


/* Estilo para el logotipo personalizado */
.imagen-personalizada {
    width: 150px; /* Ajusta el ancho según tu imagen */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilo para el título principal */
.logo-con-titulo h1 {
    font-size: 32px;
    margin: 20px 0;
}

/* Estilo para el formulario */
form {
    width: 300px; /* Reducción del ancho */
    margin: 50px auto; /* Centrar en la página */
    background-color: rgba(255, 255, 255, 0.13);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    padding: 20px;
    text-align: center;
}

/* Estilo para etiquetas en el formulario */
form label {
    display: block;
    font-size: 16px; /* Ajuste del tamaño de fuente */
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
}

/* Estilo para campos de entrada en el formulario */
form input {
    display: block;
    height: 40px;
    width: 90%; /* Reducción del ancho */
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

/* Estilo para el botón */
form button {
    margin-top: 30px; /* Ajuste del espacio */
    width: 100%;
    background-color: #297fb92d;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

form button:hover {
    background-color: #297fb9c0; /* Cambio de color al pasar el mouse */
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

.error {
    background-color: #ff5722;
    color: black;
    text-align: center;
    
    
}

/* Estilo para el mensaje de error de autenticación */
.error-message {
    background-color: #ffdddd; /* Color de fondo para resaltar el mensaje de error */
    border: 1px solid #dc3545; /* Borde rojo para enfatizar el error */
    color: #dc3545; /* Color del texto rojo para indicar un error */
    padding: 10px; /* Espaciado interno para mejorar la legibilidad */
    border-radius: 5px; /* Esquinas redondeadas para suavizar la apariencia */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita para resaltar el mensaje */
    margin: 10px 0; /* Márgenes para separar el mensaje de otros elementos */
    text-align: center; /* Centrar el texto en el elemento */
}

/* Estilo para el botón de volver */
.boton-volver {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #3498db6e;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-volver:hover {
    background-color: #297fb9a2;
}
