/* Estilo para el cuerpo de la página */
body {
    background: url('http://localhost/sistur/fondo/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "poppins", sans-serif;
    color: #ffffff; /* Color del texto en blanco */
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor del título y el logo */
.logo-con-titulo {
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilo para el logotipo personalizado */
.imagen-personalizada {
    width: 250px; /* Ancho del logo */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    margin: 5px; /* Margen uniforme alrededor del logo */
    border-radius: 15%; /* Borde redondeado para un aspecto más suave (opcional) */
    transition: transform 0.3s ease; /* Transición de transformación para efectos suaves */
}

.imagen-personalizada:hover {
    transform: scale(1.1);
}

/* Estilo para el título principal */
.logo-con-titulo h1 {
    font-size: 24px;
    margin: 10px 0;
}

/* Estilo para el formulario */
form {
    padding: 20px;
    margin: 0px auto;
    max-width: 400px;
    border-radius: 10px;
    text-align: center; /* Centro del contenido horizontalmente */
}

/* Estilo para etiquetas en el formulario */
form label {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
}

/* Estilo para campos de entrada en el formulario */
form .form-input {
    text-align: center; /* Centra el contenido de los campos de entrada */
    margin-top: 10px;
    border-radius: 3px;
    padding: 0 10px;
    height: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-align: center; /* Centro del contenido horizontalmente */
}

/* Estilo para el botón "Buscar" */
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff562200;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #297fb9a2;
    transform: scale(1.05);
}

/* Estilo para las celdas de la tabla en forma vertical */
.tabla-personalizada table td, .tabla-personalizada table th {
    padding: 8px;
    border: 1px solid #fff; /* Añadimos un borde a cada celda */
    text-align: center;
}

/* Estilo para la fila impar de la tabla en forma vertical */
.tabla-personalizada table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Estilo para el botón de eliminación en la tabla */
.tabla-personalizada table {
    display: flex;
    justify-content: center;
}

.menu-personalizado {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.menu-personalizado a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.menu-personalizado a:hover {
    background-color: #297fb9a2; /* Cambio de color al pasar el mouse */
}

.menu-personalizado a:first-child {
    margin-right: 0;
}

.menu-personalizado a:last-child {
    margin-right: auto; /* Mueve el último enlace al extremo derecho */
}

.nombre-apellido {
    text-align: center;
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 20px; /* Margen inferior para separarlo del contenido siguiente */
    /* Otros estilos según tus preferencias */
}

.nombre-apellido h3 {
    color: #ffffff; /* Color del texto */
    margin: 0; /* Eliminar el margen predeterminado del encabezado h3 */
    /* Otros estilos según tus preferencias */
}

.mensaje {
    background-color: #3498db; /* Color de fondo del mensaje */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno del mensaje */
    border-radius: 5px; /* Bordes redondeados más pequeños */
    text-align: center; /* Alineación del texto al centro */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    font-weight: 100;
    display: inline-block; /* Ajuste para que abarque solo el espacio necesario */
    margin: auto; /* Centrar horizontal y verticalmente */
    
}

/* Estilo para el contenedor del mensaje */
.contenedor-mensaje {
    text-align: center; /* Alineación del texto al centro */
}