/* Estilo para el cuerpo de la página */
body {
    background: url('http://localhost/sistur/fondo/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor principal */
.container {
    max-width: 300px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centrar horizontalmente y añadir margen superior e inferior */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra sutil alrededor del contenedor */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
}

/* Estilo para el contenedor del título y el logo */
.text-center {
    text-align: center;
}

.imagen-personalizada {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.display-4 {
    font-size: 36px;
    color: #fff;
    margin: 10px 0;
}

/* Estilo para el formulario */
form {
    margin-top: 20px;
    text-align: center;
}

form label {
    font-size: 18px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/* Estilo para la tabla de resultados */
.table-container {
    overflow-x: auto;
    max-width: 70%; /* Ajusta este valor para cambiar el ancho máximo de la tabla */
    margin: 0 auto; /* Para centrar la tabla */
}

.table {
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra de la tabla */
    border-radius: 10px;
    overflow: hidden;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
    color: #fff; /* Color del texto */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

.table-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.table-bordered {
    border: none;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #ddd;
}

/* Animación para desvanecer el mensaje después de mostrarlo */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.alert.fade-out {
    animation: fadeOut 3s forwards; /* Animación de desvanecimiento */
}
